{include file="/layout/header" /}

<!-- Vue 2 + wangEditor 富文本编辑器 -->
<div id="app" style="background-color: #ffffff">
    <el-container style="height: 100vh;">
        <el-header style="text-align: right; font-size: 12px; height: 60px; line-height: 60px;">
            包名
            <el-form :inline="true" :model="formInline" class="demo-form-inline">
                <el-form-item>
                    <el-select v-model="formInline.app" @change="select" placeholder="APP">
                        <el-option
                                v-for="(item, index) in apps"
                                :key="index"
                                :label="item.name"
                                :value="item.id">
                        </el-option>
                    </el-select>
                </el-form-item>
            </el-form>
        </el-header>

        <el-main style="display: flex; flex-direction: column; flex-grow: 1; padding: 0;">
            <!-- Tabs 标签页 -->
            <el-tabs v-model="activeTab" type="card" style="flex-grow: 1;">
                <!-- 用户协议 Tab -->
                <el-tab-pane label="用户协议" name="userAgreement">
                    <el-form :model="formData" label-width="100px">
                        <el-form-item label="用户协议">
                            <div ref="userAgreementEditor" style="height: 100%;"></div>
                        </el-form-item>
                    </el-form>
                </el-tab-pane>

                <!-- 隐私协议 Tab -->
                <el-tab-pane label="隐私协议" name="privacyAgreement">
                    <el-form :model="formData" label-width="100px">
                        <el-form-item label="隐私协议">
                            <div ref="privacyAgreementEditor" style="height: 100%;"></div>
                        </el-form-item>
                    </el-form>
                </el-tab-pane>
            </el-tabs>

            <!-- 提交按钮 -->
            <el-form-item>
                <el-button type="primary" @click="submitForm">提交修改</el-button>
            </el-form-item>
        </el-main>
    </el-container>
</div>

<style>
    .diy-el-form {
        background-color: #fff;
    }
    .demo-form-inline {
        margin-top: 10px;
    }
    .el-header {
        background-color: #e7ebf0;
        color: #333;
        line-height: 60px;
    }
    .el-aside {
        color: #333;
    }
    h3 {
        margin-bottom: 10px; /* 为标题增加间距 */
    }
</style>

<!-- 引入 wangEditor -->
<script src="https://cdn.jsdelivr.net/npm/wangeditor@4.6.14/dist/wangEditor.min.js"></script>

<script type="module">

    const initForm = {
        name: '',
        repository: '',
        package_url: '',
        ad_id: '',
        ym_id: '',
        wx_id: '',
        app_id: ''
    }
    const _initForm = Object.assign({}, initForm);
    Object.freeze(_initForm);

    var Main = {
        data() {
            return {
                formInline: {
                    app: {}
                },
                activeTab: 'userAgreement',  // 默认选中的标签页
                formData: {
                    userAgreement: '',  // 用户协议内容
                    privacyAgreement: ''  // 隐私协议内容
                },
                apps: [],
            }
        },
        created() {
            this.getApps();  // 获取所有应用数据
        },
        mounted() {
            this.initEditor();  // 初始化编辑器
        },
        methods: {
            getApps() {
                let _this = this;
                axios.get('/admin/app/apps', {})
                    .then(response => {
                        const data = response.data.data;
                        const code = response.data.code;
                        if (code !== 0) {
                            _this.apps = [];
                        } else {
                            _this.apps = data;
                            if (_this.apps.length > 0) {
                                let index = _this.apps.length - 1;
                                _this.formInline.app = _this.apps[index];
                                _this.select(_this.apps[index].id);
                            }
                        }
                    })
                    .catch(function (error) {
                        _this.$message({
                            message: '数据获取失败',
                            type: 'error'
                        });
                    })
            },
            select(id) {
                let value = this.apps.find(item => item.id === id);
                if (value) {
                    // 更新富文本内容
                    this.formData.userAgreement = value.user_agreement || '';
                    this.formData.privacyAgreement = value.privacy_agreement || '';

                    // 更新编辑器内容
                    this.editorUserAgreement.txt.html(this.formData.userAgreement);  // 设置用户协议的内容
                    this.editorPrivacyAgreement.txt.html(this.formData.privacyAgreement);  // 设置隐私协议的内容
                }
            },
            initEditor() {
                // 初始化用户协议的编辑器
                this.editorUserAgreement = new wangEditor(this.$refs.userAgreementEditor);
                this.editorUserAgreement.create();

                // 初始化隐私协议的编辑器
                this.editorPrivacyAgreement = new wangEditor(this.$refs.privacyAgreementEditor);
                this.editorPrivacyAgreement.create();
            },
            submitForm() {
                // 获取富文本内容
                this.formData.userAgreement = this.editorUserAgreement.txt.html();
                this.formData.privacyAgreement = this.editorPrivacyAgreement.txt.html();

                // 提交数据
                axios.post('/admin/app/update-agreements', {
                    userAgreement: this.formData.userAgreement,
                    privacyAgreement: this.formData.privacyAgreement
                })
                    .then(response => {
                        if (response.data.code === 0) {
                            this.$message({
                                message: '修改成功',
                                type: 'success'
                            });
                        } else {
                            this.$message({
                                message: '修改失败',
                                type: 'error'
                            });
                        }
                    })
                    .catch(error => {
                        this.$message({
                            message: '请求失败',
                            type: 'error'
                        });
                    });
            }
        }
    }

    var Ctor = Vue.extend(Main);
    new Ctor().$mount('#app');
</script>

{include file="/layout/footer" /}
