{include file="/layout/header" /}

<!-- Vue 2 + wangEditor 富文本编辑器 -->
<div id="app" style="background-color: #ffffff">
    <el-container>
        <el-header style="text-align: right; font-size: 12px">
            包名
            <el-form :inline="true" :model="formInline" class="demo-form-inline">
                <el-form-item>
                    <el-select v-model="formInline.app" @change="select" placeholder="APP">
                        <el-option
                                v-for="(item, index) in apps"
                                :key="index"
                                :label="item.name"
                                :value="item.id">
                        </el-option>
                    </el-select>
                </el-form-item>
            </el-form>
        </el-header>

        <el-main>
            <el-row>
                <el-col :span="12" style="padding-right: 20px;"> <!-- 设置右侧间距 -->
                    <h3>用户协议</h3>
                    <div ref="userAgreementEditor" style="height: 300px;"></div> <!-- 设置高度以便展示 -->
                </el-col>
                <el-col :span="12" style="padding-left: 20px;"> <!-- 设置左侧间距 -->
                    <h3>隐私协议</h3>
                    <div ref="privacyAgreementEditor" style="height: 300px;"></div> <!-- 设置高度以便展示 -->
                </el-col>
            </el-row>
        </el-main>
    </el-container>
</div>

<style>
    .diy-el-form {
        background-color: #fff;
    }
    .demo-form-inline {
        margin-top: 10px;
    }
    .el-header {
        background-color: #e7ebf0;
        color: #333;
        line-height: 60px;
    }
    .el-aside {
        color: #333;
    }
    /* 增加编辑器之间的间隔 */
    .el-row {
        margin-top: 20px;
    }
    .el-col {
        padding: 0 20px; /* 左右间隔 */
    }
    h3 {
        margin-bottom: 10px;  /* 为标题增加间距 */
    }
</style>

<!-- 引入 wangEditor -->
<script src="https://cdn.jsdelivr.net/npm/wangeditor@4.6.14/dist/wangEditor.min.js"></script>

<script type="module">

    const initForm = {
        name: '',
        repository: '',
        package_url: '',
        ad_id: '',
        ym_id: '',
        wx_id: '',
        app_id: ''
    }
    const _initForm = Object.assign({}, initForm);
    Object.freeze(_initForm);

    var Main = {
        data() {
            return {
                formInline: {
                    app: {}
                },
                tableObject: {
                    '包名': '',
                    'coding仓库地址': "",
                    '打包平台地址': "",
                    '广告id': "",
                    '友盟id': "",
                    '微信id': "",
                    'appld': ""
                },
                ruleForm: initForm,
                formVisible: false,
                apps: [],
                userAgreement: '',  // 用户协议内容
                privacyAgreement: '',  // 隐私协议内容
            }
        },
        created: function () {
            this.getApps();  // 获取所有应用数据
        },
        mounted() {
            this.initEditor();  // 初始化编辑器
        },
        methods: {
            getApps() {
                let _this = this;
                axios.get('/admin/app/apps', {})
                    .then(response => {
                        const data = response.data.data;
                        const code = response.data.code;
                        if (code !== 0) {
                            _this.apps = [];
                        } else {
                            _this.apps = data;
                            if (_this.apps.length > 0) {
                                let index = _this.apps.length - 1;
                                _this.formInline.app = _this.apps[index];
                                _this.select(_this.apps[index].id);
                            }
                        }
                    })
                    .catch(function (error) {
                        _this.$message({
                            message: '数据获取失败',
                            type: 'error'
                        });
                    })
            },
            select(id) {
                let value = this.apps.find(item => item.id === id);
                if (value) {
                    this.tableObject = {
                        '包名': value.name,
                        'coding仓库地址': value.repository,
                        '打包平台地址': value.package_url,
                        '广告ID': value.ad_id,
                        '友盟ID': value.ym_id,
                        '微信ID': value.wx_id,
                        'APP ID': value.app_id
                    };

                    // 更新富文本内容
                    this.userAgreement = value.user_agreement || '';
                    this.privacyAgreement = value.privacy_agreement || '';

                    // 更新编辑器内容
                    this.editorUserAgreement.txt.html(this.userAgreement);  // 设置用户协议的内容
                    this.editorPrivacyAgreement.txt.html(this.privacyAgreement);  // 设置隐私协议的内容
                }
            },
            initEditor() {
                // 初始化用户协议的编辑器
                this.editorUserAgreement = new wangEditor(this.$refs.userAgreementEditor);
                this.editorUserAgreement.create();

                // 初始化隐私协议的编辑器
                this.editorPrivacyAgreement = new wangEditor(this.$refs.privacyAgreementEditor);
                this.editorPrivacyAgreement.create();
            }
        },
        computed: {
            transformedData() {
                return Object.keys(this.tableObject).map(key => ({
                    field: key,
                    value: this.tableObject[key]
                }));
            }
        }
    }

    var Ctor = Vue.extend(Main);
    new Ctor().$mount('#app');
</script>

{include file="/layout/footer" /}
