{include file="/layout/header" /}

<!-- wangEditor v4 -->
<script src="/static/admin/js/wangEditor.min.js"></script>

<div id="app" style="background-color: #ffffff">
	<el-container>
		<el-header style="text-align: right; font-size: 12px">
			<el-form :inline="true" :model="formInline" class="demo-form-inline">
				<el-form-item>
					<el-select v-model="formInline.app" @change="select" placeholder="APP">
						<el-option
								v-for="(item,index) in apps"
								:key="index"
								:label="item.project"
								:value="item.id">
						</el-option>
					</el-select>
				</el-form-item>
				<el-form-item>
					<el-button @click="openFormModal">新增应用</el-button>
				</el-form-item>
			</el-form>
		</el-header>

		<el-main>
			<el-table :data="transformedData" border :show-header="false">
				<el-table-column prop="field" width="200">
					<template #default="scope">
						<div class="cell">{{ scope.row.field }}</div>
					</template>
				</el-table-column>
				<el-table-column prop="value">
					<template #default="scope">
						<div class="cell">{{ scope.row.value }}</div>
					</template>
				</el-table-column>
			</el-table>
			<el-button type="danger" class="delete-app" @click="deleteApp">删除</el-button>
		</el-main>

		<!-- Form Modal -->
		<el-dialog :visible.sync="formVisible" title="新增应用" width="60%">
			<el-form :model="ruleForm" ref="ruleForm" :rules="rules" label-width="120px">
				<el-form-item label="项目名" prop="project">
					<el-input v-model="ruleForm.project" placeholder="请输入项目名"></el-input>
				</el-form-item>

				<el-form-item label="包名称" prop="name">
					<el-input v-model="ruleForm.name" placeholder="请输入包名称"></el-input>
				</el-form-item>

				<el-form-item label="仓库地址" prop="repository">
					<el-input v-model="ruleForm.repository" placeholder="请输入仓库地址"></el-input>
				</el-form-item>

				<el-form-item label="打包平台地址" prop="package_url">
					<el-input v-model="ruleForm.package_url" placeholder="请输入打包平台地址"></el-input>
				</el-form-item>

				<el-form-item label="广告ID" prop="ad_id">
					<el-input v-model="ruleForm.ad_id" type="textarea" rows="4" placeholder="请输入广告ID"></el-input>
				</el-form-item>

				<el-form-item label="友盟ID" prop="ym_id">
					<el-input v-model="ruleForm.ym_id" placeholder="请输入友盟ID"></el-input>
				</el-form-item>

				<el-form-item label="微信ID" prop="wx_id">
					<el-input v-model="ruleForm.wx_id" placeholder="请输入微信ID"></el-input>
				</el-form-item>

				<el-form-item label="APP ID" prop="app_id">
					<el-input v-model="ruleForm.app_id" placeholder="请输入APP ID"></el-input>
				</el-form-item>

				<!-- 富文本 -->
				<el-form-item label="APP 描述" prop="description">
					<div id="editor" style="border:1px solid #dcdfe6; border-radius:4px;"></div>
				</el-form-item>

				<el-form-item>
					<el-button @click="formVisible = false">取消</el-button>
					<el-button type="primary" @click="submitForm('ruleForm')">提交</el-button>
				</el-form-item>
			</el-form>
		</el-dialog>
	</el-container>
</div>

<style>
	.demo-form-inline { margin-top: 10px; }
	.el-header { background-color: #e7ebf0; color: #333; line-height: 60px; }
	.delete-app { margin-top: 10px; }
</style>

<script type="module">
	const initForm = {
		project: '',
		name: '',
		repository: '',
		package_url: '',
		ad_id: '',
		ym_id: '',
		wx_id: '',
		app_id: '',
		description: ''     // 新增字段
	}
	const _initForm = Object.assign({}, initForm);
	Object.freeze(_initForm);

	var Main = {
		data() {
			return {
				formInline: { app: '' },
				tableObject: {
					'包名': '',
					'项目名': '',
					'coding仓库地址': "",
					'打包平台地址': "",
					'广告id': "",
					'友盟id': "",
					'微信id': "",
					'appld': ""
				},
				ruleForm: { ...initForm },
				rules: {
					project: [{ required: true, message: '请输入项目名', trigger: 'change' }],
					name: [{ required: true, message: '请输入包名称', trigger: 'change' }],
					repository: [{ required: true, message: '请输入仓库地址', trigger: 'change' }],
					package_url: [{ required: true, message: '请输入打包平台地址', trigger: 'change' }],
					ad_id: [{ required: true, message: '请输入广告ID', trigger: 'change' }],
					ym_id: [{ required: true, message: '请输入友盟ID', trigger: 'change' }],
					wx_id: [{ required: true, message: '请输入微信ID', trigger: 'change' }],
					app_id: [{ required: true, message: '请输入APP ID', trigger: 'change' }],
					description: [{ required: true, message: '请输入APP描述', trigger: 'blur' }]
				},
				editor: null,
				formVisible: false,
				apps: [],
			}
		},

		created() {
			this.getApps();
		},

		methods: {
			openFormModal() {
				this.formVisible = true;
				this.$nextTick(() => {
					// 初始化富文本编辑器
					const E = window.wangEditor;
					this.editor = new E('#editor');
					this.editor.config.onchange = html => {
						this.ruleForm.description = html;
					}
					this.editor.create();
				})
			},

			submitForm(formName) {
				this.ruleForm.description = this.editor.txt.html(); // 获取富文本内容

				this.$refs[formName].validate(valid => {
					if (valid) {
						axios.post('/admin/app/add', this.ruleForm)
								.then(res => {
									this.$message.success('应用新增成功!');
									this.formVisible = false;
									this.editor && this.editor.destroy();
									this.ruleForm = { ..._initForm }
									this.$refs[formName].resetFields();
									this.getApps();
								})
								.catch(() => {
									this.$message.error('提交失败');
								});
					} else {
						this.$message.error('表单验证失败，请检查内容');
					}
				});
			},

			getApps() {
				let _this = this
				axios.get('/admin/app/apps')
						.then(res => {
							const data = res.data.data
							const code = res.data.code
							if (code !== 0) {
								_this.apps = [];
							} else {
								_this.apps = data;
								if (_this.apps.length > 0) {
									let index = _this.apps.length - 1
									_this.formInline.app = _this.apps[index];
									_this.select(_this.apps[index].id);
								}
							}
						})
			},

			select(id) {
				let value = this.apps.find(item => item.id === id);
				if (value) {
					this.tableObject = {
						'包名': value.name,
						'项目名': value.project,
						'coding仓库地址': value.repository,
						'打包平台地址': value.package_url,
						'广告ID': value.ad_id,
						'友盟ID': value.ym_id,
						'微信ID': value.wx_id,
						'APP ID': value.app_id
					};
				}
			},

			deleteApp() {
				axios.post('/admin/app/delete', { id: this.formInline.app })
						.then(res => {
							if (res.data.code === 0) {
								this.$message.success('删除成功!');
								this.getApps();
							} else {
								this.$message.error('删除失败!');
							}
						})
			},
		},

		computed: {
			transformedData() {
				return Object.keys(this.tableObject).map(key => ({
					field: key,
					value: this.tableObject[key]
				}));
			}
		}
	}

	var Ctor = Vue.extend(Main)
	new Ctor().$mount('#app')
</script>

{include file="/layout/footer" /}
